.stats-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(50, 0, 100, 0.8);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 60px;
}

.stats-button {
  font-size: 18px;
  padding: 12px 24px;
  margin-top: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  background-color: #3498db;
  color: #fff;
}

.main-stats-button {
  position: fixed;
  left: 6px;
  top: 6px;
  z-index: 9999999;
}

.buttons-container {
  position: absolute;
  top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 24px;
  color: #fff;
  cursor: pointer;
  z-index: 10001;
}

.sessions-stats-container {
  position: relative;
  z-index: 10000;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

table {
  border-collapse: collapse;
  font-size: 16px;
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

th, td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}


tr:nth-child(2) {
  background-color: #9099ff;
}

tr:nth-child(3) {
  background-color: #eeee70;
}

tr:nth-child(4) {
  background-color: #ffa060;
}

tr:nth-child(5) {
  background-color: #ff4040;
}

tr:nth-child(6) {
  background-color: #c080ff;
}

tr:nth-child(7) {
  background-color: #80d0d0;
}

tr:nth-child(8) {
  background-color: #80ff80;
}

tr:nth-child(9) {
  background-color: #9099ff;
}

tr:nth-child(10) {
  background-color: #ff4040;
}
