@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(10px);
  }
}

.stats-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(50, 0, 100, 0.8);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 60px;
}

.stats-button {
  font-size: 18px;
  padding: 12px 24px;
  margin-top: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  background-color: #3498db;
  color: #fff;
}

.main-stats-button {
  position: fixed;
  left: 6px;
  top: 6px;
  z-index: 9999999;
}

.buttons-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.generic-button {
  font-size: 18px;
  padding: 12px 24px;
  margin-top: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  background-color: #3498db;
  color: #fff;
}

.generic-button, .stats-button {
  animation: fadeIn 0.3s ease;
}

.generic-button:hover,
.stats-button:hover {
  background-color: #2980b9;
  transform: translateY(-2px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.stats-overlay .back-button {
  display: block;
  z-index: 10001;
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 18px;
  padding: 12px 24px;
  margin-top: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  background-color: #3498db;
  color: #fff;
}

.stats-overlay .back-button:hover {
  transform: translateX(-50%) translateY(-2px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.stats-overlay .back-button:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(52, 152, 219, 0.5);
}

.close-button {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 24px;
  color: #fff;
  cursor: pointer;
  z-index: 10001;
}

.sessions-stats-container {
  position: relative;
  z-index: 10000;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

table {
  border-collapse: collapse;
  font-size: 16px;
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}



th, td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  user-select: none;
}

th:hover {
  background-color: rgba(41, 128, 185, 0.2);
  cursor: pointer;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: rgba(41, 128, 185, 0.1);
  cursor: pointer;
}


tr:nth-child(2) {
  background-color: #9099ff;
}

tr:nth-child(3) {
  background-color: #eeee70;
}

tr:nth-child(4) {
  background-color: #ffa060;
}

tr:nth-child(5) {
  background-color: #ff4040;
}

tr:nth-child(6) {
  background-color: #c080ff;
}

tr:nth-child(7) {
  background-color: #80d0d0;
}

tr:nth-child(8) {
  background-color: #80ff80;
}

tr:nth-child(9) {
  background-color: #9099ff;
}

tr:nth-child(10) {
  background-color: #ff4040;
}

.game-stats-container {
  width: 80%;
  max-width: 800px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  text-align: center;
  color: #333;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.podiums-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

.podium-container {
  background-color: rgba(0, 0, 0, 0.8);
}

.podium-container h3 {
  font-size: 18px;
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
}

.place-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  margin-bottom: 5px;
}

.place-container span {
  font-weight: normal;
  display: block;
}

.place-container:last-child {
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .podiums-container {
    flex-direction: column;
  }

  .podium-container {
    width: 100%;
    max-width: none;
  }
}


.game-stats-container .place-container:nth-child(2),
.podium-container .place-container:nth-child(2) {
  font-size: 24px;
  color: #eeee70;
  background-color: rgba(238, 238, 112, 0.2);
}

.game-stats-container .place-container:nth-child(3),
.podium-container .place-container:nth-child(3) {
  font-size: 20px;
  color: #ffa060;
  background-color: rgba(255, 160, 96, 0.2);
}

.game-stats-container .place-container:nth-child(4),
.podium-container .place-container:nth-child(4) {
  font-size: 18px;
  color: #9099ff;
  background-color: rgba(144, 153, 255, 0.2);
}

.podium-container {
  background-color: rgba(0, 0, 0, 0.1);
}

.podium-container h3,
.game-stats-container h3 {
  color: #ffffff;
}