.new-turn-display {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .player-select {
    font-size: 16px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #444;
    background-color: #9b59b6;
    color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    appearance: none;
    transition: all 0.3s ease;
  }
  
  .player-select:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  }
  